@import "compass";

body.checkout-cart-index {
	#delivery-date-form {
		position: relative;
		input, button, img {
			display: inline-block;
			vertical-align: middle;
		}
		label {
			display: block;
			font-weight: 400;
			margin-bottom: 10px;
			font-size: 16px;
		}
		input {
			@include border-radius(5px);
			border: 1px solid #d2d2d2;
			height: 32px;
			font-size: 12px;
			padding: 8px;
			width: 140px;
		}
		input::-webkit-calendar-picker-indicator{
			display: none;
		}
		img {
			margin-left: 5px;
		}
		button {
			float: right;
			height: 30px;
			padding: 0 10px;
			font-size: 13px;
		}
		.applied {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-size: 32px;
			font-weight: bold;
			background: rgba(244,244,244,0.5);
			color: #58585b;
			&.active {
				display: block;
			}
			span {
				position: absolute;
				top: 50%;
				width: 100%;
				text-align: center;
				line-height: 0;
				display: block;
			}
		}
	}

	@media (min-width: 480px) {
		#delivery-date-form {
			label {
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 0;
				width: 40%;
			}
		}
	}
	@media (min-width: 600px) {
		#delivery-date-form {
			label {
				display: block;
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}
	@media (min-width: 960px) {
		#delivery-date-form {
			button {
				padding: 0 15px;
			}
		}
	}
	@media (min-width: 1190px) {
		#delivery-date-form {
			input {
				width: 130px;
			}
			label {
				display: inline-block;
				margin-bottom: 0;
				width: 170px;
			}
		}
	}
}